:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --primary: #3c493f;
  --secondary: #7e8d85;
  --accent: #b3bfb8;
}

p {
  background-color: yellow;
}
h2 {
  text-transform: uppercase;
}
h4 {
  text-transform: lowercase;
}
.center {
  text-align: center;
  color: red;
}
p.center {
  color: blue;
  font: size 24px;
}

#chapter {
  font-weight: 900;
  text-transform: uppercase;
}

h2,
#chapter {
  text-transform: uppercase;
}

h1,
h2,
.center {
  text-align: center;
}

.days ol {
  list-style: inside;
}

.days li {
  text-transform: uppercase;
  color: #a0a;
  font-size: 1.4em;
}

.flavors {
  list-style-type: georgian;
}
.flavors {
  font-size: 1.2em;
  text-transform: lowercase;
}

.nav-h,
.nav-v {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  overflow: hidden;
  background-color: #333;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-h li {
  float: left;
}
/*  */
.active {
  background-color: cornflowerblue;
}
/* HOVERING NAV DASH IN HOME PAGE */
li a:hover {
  background-color: #111;
}
/* STYLES FOR PAGE 5 */
#handling-div {
  border: solid red;
  background-color: #a0a;
}
#handling-h1 {
  background-color: coral;
}
#handling-p {
  display: inline;
  background-color: darkgreen;
}
#handling-a {
  background-color: cyan;
}
.box-model,
.box-model2 {
  width: 400px;
  height: 120px;
  padding: 5em;
}
.box-model {
  border: 10px solid red;
  margin: 0 0 20px 0;
}
.box-model2 {
  border: 10px solid blue;
  box-sizing: border-box;
}
.position-example {
  background-color: green;
  height: 150em;
}
.span-p {
  font-size: 1.5em;
}
.span-p span {
  font: bold;
  color: blue;
}
/* STYLES FOR PAGE 6 */
.custom-bg {
  background-color: var(--primary);
}

.custom-t {
  background-color: var(--accent);
}

.custom-p {
  background-color: var(--secondary);
}

.background-solid {
  background: var(--primary);
  height: 200px;
}
.background-repeat {
  background-image: url(bernard-hermant-Zpdb7-owcpw-unsplash.jpg);
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
}
.background-gradient {
  background-image: linear-gradient(to right, rgba(90%, 30%, 50%, 0.9)),
    url(bernard-hermant-Zpdb7-owcpw-unsplash.jpg);
  background-size: contain;
  background-repeat: repeat;
  height: 400px;
}
/* STYLES FOR PAGE 7 */
.container {
  display: grid;
  text-align: center;
}
.container-p {
  background-color: lightgreen;
  border: 2px solid green;
  margin: 0px;
  width: 200px;
  height: 50px;
}
.container-a {
  display: grid;
  text-align: center;
  grid-template-rows: 50px;
  grid-template-columns: 300px 2fr 1fr;
  gap: 5px;
}
.container-a p {
  background-color: lightgreen;
}
.wrapper {
  display: grid;
  background-color: lightblue;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
  gap: 2px;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}
.item2 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

.container-div {
  display: grid;
  grid-template-areas:
    "nav nav nav nav"
    "left main main right"
    "left main main right"
    "foot foot foot foot";
}
.contain-left{
  grid-area: left;
}
.contain-right{
  grid-area: right;
}

.contain-right, .contain-left {
  background-color: gray;
}
.contain-nav{
  grid-area: nav;
}
.contain-bottom{
  grid-area: foot;
}
.contain-nav , .contain-bottom {
  background-color: green;
}